*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build artifacts from ANT
build/artifacts

# this file changes constantly... so I'm going to ignore it
./idea/workspace.xml

